body {
    background-image: url("/assets/blue-butterflies-full-desktop-screen-hd-v36adytjsc4p0t0o.webp");
}
.ayo {
  color: blanchedalmond;
}
.ayobami{
  color:blanchedalmond
}
.ayoola {color: blanchedalmond;}
.ayola {color: blanchedalmond;}
